<form method="POST" action="/addmember">
    <div class="form-group">
        <label for="inputStart">Name(이름):</label>
        <input type="text" id="name" name="name">
    </div>
    
    <div class="form-group">
        <label for="inputStart">Gender(성별):</label>
        <input type="text" id="gender" name="gender">
    </div>

    <div class="form-group">
        <label for="inputEnd">Date of Birth(생년월일):</label>
        <input type="text" id="dob" name="dob">
    </div>

    <div class="form-group">
        <label for="inputEnd">Date of Entry(가입일):</label>
        <input type="text" id="doe" name="doe">
    </div>
    
    <div class="form-group">
        <label for="inputEnd">Password:</label>
        <input type="text" id="password" name="password">
    </div>
    
    <input type="submit" value="submit">
</form>
