<form method="POST" action="/attendstatus">
    <div class="form-group">
        <label for="inputStart">Year(YYYY):</label>
        <input type="text" id="year" name="year">
    </div>

    <div class="form-group">
        <label for="inputStart">Month(MM):</label>
        <input type="text" id="month" name="month">
    </div>
    
    <div class="form-group">
        <label for="inputEnd">Name,Attend Type(이름,출석 타입(1:벙,2:정모,3:정기전,4:챔프,5:교류전,6:상주,7:이벤트)):</label>
        <input type="text" id="data" name="data">
    </div>

    <div class="form-group">
        <label for="inputEnd">Password:</label>
        <input type="text" id="password" name="password">
    </div>
    <input type="submit" value="submit">
</form>
