<form method="POST" action="/recentavg">
    <div class="form-group">
        <label for="inputStart">Number of Games(게임수):</label>
        <input type="text" id="num" name="num">
    </div>

    <div class="form-group">
        <label for="inputStart">Number of Teams(팀 수):</label>
        <input type="text" id="numteam" name="numteam">
    </div>
    
    <div class="form-group">
        <label for="inputStart">Players(참여자):</label>
        <input type="text" id="players" name="players">
    </div>

    <div class="form-group">
        <label for="inputStart">Allowable Difference(허용 점수차):</label>
        <input type="text" id="allow" name="allow">
    </div>
    
    <input type="submit" value="submit">
</form>
