<form method="POST" action="/addscore">
    <div class="form-group">
        <label for="inputStart">Date of Game(게임 날짜)(YYYY-MM-DD):</label>
        <input type="text" id="date" name="date">
    </div>

    <div class="form-group">
        <label for="inputEnd">Name,Score(,separates values)(이름,점수:,로 구분):</label>
        <input type="text" id="scores" name="scores">
    </div>
    
    <div class="form-group">
        <label for="inputEnd">Password:</label>
        <input type="text" id="password" name="password">
    </div>
    
    <input type="submit" value="submit">
</form>
