<form method="POST" action="/regular">
    <div class="form-group">
        <font size="100">
        <label for="inputStart">Name(이름):</label>
        <input style="height:100px;font-size:50pt;" type="text" id="name" name="name">
        </font>
    </div>

    <div class="form-group">
        <font size="100">
        <label for="inputEnd">Password(암호):</label>
        <input style="height:100px;font-size:50pt;" type="password" id="password" name="password">
        </font>
    </div>
    
    <div class="form-group">
        <font size="100">
        <label for="inputEnd">Scores(점수):</label>
        <input style="height:100px;font-size:50pt;" type="text" id="scores" name="scores">
        </font>
    </div>
    
    <div class="form-group">
        <font size="100">
        <label for="inputEnd">New Password(새암호):</label>
        <input style="height:100px;font-size:50pt;" type="password" id="newpw" name="newpw">
        </font>
    </div>
    
    <input style="height:100px;font-size:50pt;" type="submit" value="submit">
</form>
